<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpCGgi5Yf6vaK1cBcn6D0hgOEFLiBSfnc</string>
	<key>GCM_SENDER_ID</key>
	<string>412984912369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skyscout.skyscout</string>
	<key>PROJECT_ID</key>
	<string>skyscout-7fa9e</string>
	<key>STORAGE_BUCKET</key>
	<string>skyscout-7fa9e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412984912369:ios:a43dc8bae0a2a90eb87c50</string>
</dict>
</plist>